<a href="https://colab.research.google.com/github/naniprasad5678/DataMining/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime
from sklearn.preprocessing import LabelEncoder

In [19]:
data={'category':['A','B','C','A','B']}
df=pd.DataFrame(data)

In [17]:

label_encoder = LabelEncoder()
df['category'] = label_encoder.fit_transform(df['category'])

In [21]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['category'])
df=pd.concat([df,one_hot_encoded_data],axis=1)
print(df)

  category  category_A  category_B  category_C
0        A        True       False       False
1        B       False        True       False
2        C       False       False        True
3        A        True       False       False
4        B       False        True       False

In [6]:
import pandas as pd
from datetime import datetime
abc={
    'Name':['Alice','Bob','Charlie'],
    'DOB':['1990-05-15','1985-09-20','1995-02-10']
}
df=pd.DataFrame(abc)
df['DOB']=pd.to_datetime(df['DOB'])
df['Age']=datetime.now().year-df['DOB'].dt.year
print(df)

      Name        DOB  Age
0    Alice 1990-05-15   35
1      Bob 1985-09-20   40
2  Charlie 1995-02-10   30

In [26]:
import pandas as pd
data={'category':['A','A','B','B','c'],
      'values':['10','20','10','30','40']}
df=pd.DataFrame(data)
df['values'] = pd.to_numeric(df['values'], errors='coerce')
grouped = df.groupby('category').agg({'values': ['sum', 'mean']})
print(grouped)

print("OUTPUT pivot")
pivot=df.pivot(index='category',columns='values',values='values')
print(pivot)

         values
            sum  mean
category
A            30  15.0
B            40  20.0
c            40  40.0
OUTPUT pivot
values      10    20    30    40
category
A         10.0  20.0   NaN   NaN
B         10.0   NaN  30.0   NaN
c          NaN   NaN   NaN  40.0